@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&display=swap');

:root{
    font-family: 'Roboto', sans-serif;
     --dark-blue: #2d4059;
     --vibrant-red: #ea5455;
     --burnt-orange: #f07b3f;
     --light-yellow: #ffd460;
     --white: #FFFFFF;       
}

body {
    background: var(--dark-blue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body * {
    box-sizing: border-box;
}

h1{
    font-size: 3em;
    font-weight: 700;
}

h2{
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 400;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    margin-right: 4em; 
    width: 600px;
    height: 620px;
}

.left-form > h1 {
    color: var(--burnt-orange);
    font-size: 3em;
    text-align: center;
}

.right-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 1em;
    width: 500px;
    height: 400px;
    box-shadow: 5px 5px 8px #000000;
}
.form-title {
    color: var(--dark-blue);
    font-size: 2em;
    margin: 0 0 0.5em 0;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#form-img {
    width: 500px;
}
.default-input {
    box-sizing: border-box;
    text-align: left;
    outline-color: var(--burnt-orange);
    background: #efeeee;
    padding: 16px 120px;
    border-radius: 0.68em;
    border: none;
    margin:0 0 1em 0;
}
.default-input::placeholder {
    text-align: left;
}

.default-input:focus {
    transition: 0.3s;
    background: var(--white);
}


.input-container {
    position: relative;
}
  
.fa-sharp {
    color: var(--burnt-orange);
    position: absolute;
    left: 10px;
    top: 38%;
    transform: translateY(-50%);
}
  
.default-label {
    font-weight: 400;
    letter-spacing: 0.25px;
    display: flex;
    align-self: flex-start;
    color: var(--dark-blue);
    margin: 10px 0 5px 0;
}

.default-btn {
    color: var(--white);
    border: 0.125em solid var(--burnt-orange);
    border-radius: 0.68em;
    box-sizing: border-box;
    background: var(--burnt-orange);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 2em 0 0 0;
    min-height: 1em;
    width: 24em;
    outline: none;
    padding: 0.7em 0;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
.default-btn:disabled {
pointer-events: none;
}

.default-btn:hover {
transform: translateY(-2px);
}

button:active {
box-shadow: none;
transform: translateY(0);
}

hr {
width: 100%;;
color: var(--burnt-orange);
margin: 10px 0;
}

form > .default-btn {
margin: 0.4em 0 0.7em 0;
}
.default-btn ~ p > a {
text-decoration: underline;
}
.default-btn ~ p > a:hover {
    color: var(--burnt-orange);
    cursor: pointer;
}

@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
        padding: 20px;
    }

    .left-form {
        width: 100%;
        margin: 0;
        height: 100%;
        padding: 20px; 
    }

    .left-form > h1 {
        display: none;
    }

    #form-img {
        width: 100%; 
        max-width: 300px; 
        margin: 0 auto; 
    }

    .right-form {
        width: 100%; 
        height: auto; 
        margin: 0 auto;
        padding: 20px; 
        box-shadow: none; 
    }
}
