 
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&display=swap');
 
 :root{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
   --dark-blue: #2d4059;
   --vibrant-red: #ea5455;
   --burnt-orange: #f07b3f;
   --light-yellow: #ffd460;
   --white: #ffffff;       
  }
 .container{
  background-color: var(--dark-blue);
  height: 100vh;
  display: flex;
  align-items: center;

    .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 0 30px;
    margin: 0 auto;
    @media (max-width: 64rem) {
      width: 100%;
    }

      .left {
        display: flex;
        flex-direction: column;
        @media (max-width: 64rem) {
          display: none;
        }
        h1 {
          color: var(--burnt-orange);
          text-align: center;
          font-size: 2.5rem;
          @media (max-width: 36rem) {
            font-size: 1.7rem;
            
          }
        }
      }

      .form {
      min-width: 23rem;
      width: 28rem;
      background: var(--white);
      border: none;
      border-radius: 1.25rem;
      padding: 80px 50px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: center;
      @media (max-width: 64rem) {
        min-width: 100%;
        width: 100%;
      }

      h1 {
      color: #555;
      }
      
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        input {
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 20px 10px;
        }
        
        button {
          width: 33%;
          padding: 10px;
          border: none;
          border-radius: 1.25rem;
          background-color: var(--burnt-orange);
          color: white;
          font-weight: bold;
          transition: all .2s ease-out;
          cursor: pointer;
          &:hover {
            transform: scale(1.04);
          }
        }
      }
      .redirect {
        display: flex;
        gap:0 5px;
        p {
          color: #555;
          text-decoration: none;
          &:hover {
            color: var(--burnt-orange)
          }
        }
      }
    }
  }
}